# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

.git/
atp/agent/migrations
atp/clients/migrations
atp/media


atp/media/ca4a1187982d46e78a1bc5b5353627f2-Numériser_2.jpeg

atp/media/3e4aa9e809e748ac8091d16ff028a0c8-Numériser_3.jpeg

atp/media/3e4aa9e809e748ac8091d16ff028a0c8-Numériser_3.jpeg
