{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
                {% block modal%}
                    <!-- Modal --> <div class="modal fade modal-wide" id="idmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div><!-- /.modal -->
                {% endblock%}

                {% block heading %}
                <h3>
                    <span class="fa fa-filter"></span> Ajouter des agents à la sélection {{selectionid }}
                    </h3>
                {% endblock %}
{% load crispy_forms_tags %}
                {% block content%}

                <div class="container">
                    <div class="row">

                        <div class="col-sm-3 col-md-3">
                            <div id="accordion" class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody">Filtres<span class="fa fa-chevron-up pull-right"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseBody" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        {% crispy form %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table id="agent_table" class="display responsive" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="all"><center>Id</center></th>
                                                <th class="all">Nom</th>
                                                <th class="all">Prénom</th>
                                                <th class="all">Département</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3">
                            <ul id='selection_agents_list' class="list-group">
                                <li class="list-group-item">
                                    <span class="badge" id="selectionagentcounter">0</span>Agents selectionnes
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                {% endblock %}

{% block extracss %}
<link href="{% static 'datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'datatables/extensions/Responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
<link href="{% static 'datatables/extensions/TableTools/css/dataTables.tableTools.css' %}" rel="stylesheet">
{% endblock %}


{% block extrajs %}
<script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables/extensions/Responsive/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables/extensions/TableTools/js/dataTables.tableTools.js' %}"></script>
<script src="{% static 'scripts/scripts.js' %}"></script>
<script type="text/javascript">
$.ajaxSetup({
    cache: false
});
$(document).ready(function() {
    var oTable = $('#agent_table').dataTable( {
        "sDom": 'lrtip',
        "language": {
            "url": "{% static 'datatables/plugin/dataTables.french.lang' %}"
        },
        "aLengthMenu": [
            [1, 15, 25, 50, 75, 100],
            [1, 15, 25, 50, 75, 100],
        ],
        "iDisplayLength": 15,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{{ data }}",
        // "aaSorting": [ [0,'desc'], [1,'desc']],
        // Disable sorting for the Actions column.
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 2, ] } ]
    });
    // Submit the filter form and refresh the table data
    var frm = $('#filter_form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                // Reload the table data. This function is located in
                // scripts/scripts.js.
                oTable.fnReloadAjax(data);
                // Re-enable the submit button.
                $('#submit-id-submit').prop('disabled', false);
            },
            error: function(data) {
                alert('Hooo, il y a eu une erreure. Veuillez reessayer.');
            }
        });
        return false;
    });
    // For changing the icon in the Options panel
    $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find(".fa-chevron-down")
            .removeClass("fa-chevron-down")
            .addClass("fa-chevron-up");
    }).on('hidden.bs.collapse', function(){
        $(this).parent().find(".fa-chevron-up")
            .removeClass("fa-chevron-up")
            .addClass("fa-chevron-down");
    });

    updateSelectionAgentCounter = function(x){
        counter = parseInt($('#selection_agents_list #selectionagentcounter').html());
        if (x == 1){
            counter += 1;
            } else if (x == 0){
            counter -= 1;
            } else {
            counter = x;
            }
        $('#selection_agents_list #selectionagentcounter').text(counter);
        console.log('counter ' + counter);
        };

    add_remove_from_selection_list = function (todo, x, firstname, lastname) {
        if (todo == 1) {
            $("#selection_agents_list").append($('<li id='+agentid+' class="list-group-item"><button id='+agentid+' type="button" class="btn btn-danger btn-xs" onclick="removefromselection('+agentid+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>&nbsp;<button type="button" class="btn btn-info btn-xs bouton" data-agentid='+agentid+' onclick="showagentdetailmodal('+agentid+')" >Details</button> '+firstname+' '+lastname+'</li>'));
        }
        else {
        console.log('Agent supprime de la selection : ' + x);
        $("#selection_agents_list #"+x).remove();
        }
    };



    jsagents = {{selection_agent_list|safe}};
    console.log(jsagents);


    initSelectionHtml = function(jsagents) {
        for (i = 0; i < jsagents.length; i++) {
        agentid = jsagents[i].agent__id;
        firstname = jsagents[i].agent__firstname;
        lastname = jsagents[i].agent__lastname;
        add_remove_from_selection_list(1, agentid, firstname, lastname);
        counter = jsagents.length;
        updateSelectionAgentCounter(counter);
            }
            };

    initSelectionHtml(jsagents);

    addtoselection = function(x){
        $.get('/client/add_agent_to_selection/', {'agentid': x, 'selectionid': {{selectionid}}}, function(data){
            if (data["duplicate"] == 'ok') {
                alert('Agent déjà présent dans la selection');
            } else {
            agentid = x;
            firstname = data['firstname'];
            lastname = data['lastname'];
            add_remove_from_selection_list(1, agentid, firstname, lastname);
            updateSelectionAgentCounter(1);
            console.log('Agent ajoute a selection : ' + x);
            }
        });
      }
  
  
  removefromselection = function(x){
      $.get('/client/remove_agent_from_selection/', {'agentid': x, 'selectionid': {{selectionid}}}, function(){
        console.log('Agent supprime de la selection : ' + x);
        add_remove_from_selection_list(0, x);
        updateSelectionAgentCounter(0);
        });
  }
    showagentdetailmodal= function(x){
        $('#idmodal').load('/client/~client/selection/agent/detail/modal/'+x, function (data){
                console.log(data);
                $("#idmodal").modal('show');
            });
  }
});
</script>
</html>
{% endblock %}
