

<div class='container'>

				<div class="modal-dialog custom-class">
					<div class="modal-content">
						<div class="modal-header">
                            <input type="button" class="btn btn-default bouton" value="Ajouter a la selection : {{selectionid}}" onclick="addtoselection(agentid)">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 class="modal-title" id="names">
                                names
                            </h3>
						</div>
						<div class="modal-body">
						
       <div class="row clearfix">
		<div class="col-md-2 column">
            <img id='picture' class="img-responsive pull-left" />
		</div>
		<div class="col-md-10 column">
            <div class="row clearfix">
				<div class="col-md-2 column">
                    <div>Prénom :</div>
                    <div>Nom :</div>
                    <div>Date de naissance :</div>
                    <div>Carte professionnelle</div>
				</div>
				<div class="col-md-10 column">
                    <div id='firstname'>firstname</div>
                    <div id='lastname'>lastname</div>
                    <div id='birthdate'>birthdate</div>
                    <div id='pro_card'>carte_pro</div>
				</div>
			</div>
		</div>
	</div>
                        
                        </div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					
				</div>
				
			</div>

        </div>
