{% load tags %}


<!-- progressbar -->


<ol class="progtrckr" data-progtrckr-steps="7">
    <li class="{% switch_state request "AGENT"%}">Etat Civil</li><!--
 --><li class="{% switch_state request "COORDONNEES"%}">Coordonnées</li><!--
 --><li class="{% switch_state request "PAPIERS_IDENTITE"%}">Papier identité</li><!--
 --><li class="{% switch_state request "CARTE_PRO"%}">Carte Pro</li><!--
 --><li class="{% switch_state request "QUALIFICATIONS"%}">Qualifications</li><!--
 --><li class="{% switch_state request "CERTIFICATIONS"%}">Certifications</li><!--
 --><li class="{% switch_state request "DIVERS"%}">Divers</li>
</ol>

<br>


<div class="row">
    <div class="col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="#agent" class="{% active request "/agent/~agent/" %}"><a  href="{% url 'agent:~agent' %}" role="tab" class="{% switch_state request "AGENT" %}">Etat Civil </a></li>
                <li id="#agent_address" class="{% active request "/agent/~agent_address/" %}"><a  href="{% url 'agent:~agent_address' %}" class="{% switch_state request "COORDONNEES" %}" role="tab" >Coordonnées</a></li>
                <li id="#agent_id_card" class="{% active request "/agent/~agent_id_card/" %}"><a  href="{% url 'agent:~agent_id_card' %}" class="{% switch_state request "PAPIERS_IDENTITE" %}"  role="tab" >Papiers identité</a></li>
                <li id="#agent_pro_card" class="{% active request "/agent/~agent_pro_card/" %}"><a  href="{% url 'agent:~agent_pro_card' %}" class="{% switch_state request "CARTE_PRO" %}"  role="tab" >Carte Pro</a></li>
                <li id="#agent_pro_card_qualification" class="{% active request "/agent/~agent_pro_card_qualification/" %}"><a  href="{% url 'agent:~agent_pro_card_qualification' %}" class="{% switch_state request "QUALIFICATIONS" %}"  role="tab" >Qualifications</a></li>
                <li id="#agent_certification" class="{% active request "/agent/~agent_certification/" %}"><a  href="{% url 'agent:~agent_certification' %}" role="tab" class="{% switch_state request "CERTIFICATIONS" %}"  >Certifications</a></li>
                <li id="#agent_certification" class="{% active request "/agent/~agent_various/" %}"><a  href="{% url 'agent:~agent_various' %}" role="tab" class="{% switch_state request "DIVERS" %}"  >Divers</a></li>
            </ul>
            <!-- Tab panes -->
</div>
</div>
