{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tags %}


{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}User: {{ user.username }}{% endblock %}</h1>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li id="#agent" class="{% active request "/agent/~agent/" %}"><a  href="{% url 'agent:~agent' %}" role="tab" class="{% switch_state request "AGENT" %}">Etat Civil </a></li>
                <li id="#agent_address" class="{% active request "/agent/~agent_address/" %}"><a  href="{% url 'agent:~agent_address' %}" class="{% switch_state request "COORDONNEES" %}" role="tab" >Coordonnées</a></li>
                <li id="#agent_id_card" class="{% active request "/agent/~agent_id_card/" %}"><a  href="{% url 'agent:~agent_id_card' %}" class="{% switch_state request "PAPIERS_IDENTITE" %}"  role="tab" >Papiers identité</a></li>
                <li id="#agent_pro_card" class="{% active request "/agent/~agent_procard/" %}"><a  href="{% url 'agent:~agent_pro_card' %}" class="{% switch_state request "CARTE_PRO" %}"  role="tab" >Carte professionnelle</a></li>
                <li id="#agent_certification" class="{% active request "/agent/~agent_certification/" %}"><a  href="{% url 'agent:~agent_certification' %}" role="tab" class="{% switch_state request "CERTIFICATIONS" %}"  >Certifications</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                        {% csrf_token %}
                        {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
